# Python
__pycache__/
*.py[cod]
*.so

# Virtual env
.venv/
venv/
env/
.env

# Django
*.sqlite3
media/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Testing
.pytest_cache/
.coverage
htmlcov/

# Migrations cache
**/__pycache__/

# UV
.python-version