@import "tailwindcss";

@theme {
  --font-sans: "Onest", sans-serif;

  --color-bg: #0e0f11;
  --color-bg2: #141517;
  --color-bg3: #1a1c1f;

  --color-border: rgba(255, 255, 255, 0.07);

  --color-accent: #7c6dfa;
  --color-accent-bg: rgba(124, 109, 250, .3);
  --color-accent2: #a99dfd;
  --color-accent2-bg: rgba(124, 109, 250, .12);

  --color-text: #f0f0ee;
  --color-text2: #8e9099;
  --color-text3: #565860;

  --color-blue: #7ab4f0;
  --color-tr-blue: rgba(74, 144, 232, .12);
  --color-red: #e05252;
  --color-red2: #f08080; /* light red */
  --color-tr-red2: rgba(224,82,82,.1);
  --color-yellow: #f0c070;
  --color-tr-yellow: rgba(240,160,64,.1);
  --color-blue: #7ab4f0;
  --color-tr-blue: rgba(74,144,232,.12);
  --color-teal: #5ee8c6;
  --color-tr-teal: rgba(28, 199, 160, .1);
  --color-gray: #565860;
  --color-tr-gray: rgba(255, 255, 255, .05);

}

.animation-text {
  overflow: hidden;
  white-space: nowrap;

  transform-origin: left;

  transition: transform 200ms ease-out,
    opacity 200ms ease-out,
    max-width 200ms ease-out;
}