@import "tailwindcss";

@theme {

    --font-sans: "Onest", "Inter", system-ui, sans-serif;
    --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;

    /* Colors */
    --color-bg1: #0E0F11;
    --color-bg2: #141517;
    --color-bg3: #1A1C1F;
    --color-bg4: #212327;

    --color-text: #F0F0EE;
    --color-text2: #8E9099;
    --color-text3: #565860;
    --color-text4: #C8C6C0;
    --color-text5: rgba(86, 88, 96, 0.7);

    --color-border: rgba(86, 88, 96, 0.3);
    --color-border2: #565860;
    --color-border3: rgba(255, 255, 255, 0.7);

    --color-accent: #7B6EFA;
    --color-accent2: #A99DFD;
    --color-blue: #4A90E8;
    --color-teal: #1CC7A0;
    --color-amber: #C9904F;
    --color-pink: #C77DA0;
    --color-red: #DC3D3D;
    --color-red2: #E05252;
    --color-gray: #565860;
}